


<h1>Confirm OTP</h1>


<div class="container register">
    <div class="row">
        <div class="col-md-12">
            <form method="post">
                <div class="form-group">
                   
                    <input name="otp" id="otp" class="form-control" type="number" />
                   
                </div>
                <button type="submit" class="btn-primary">ConfirmOTP</button>
                </form>
            
        </div>
    </div>
</div>