@model DapperStoredProc.DTO.OTP


<h1>Confirm OTP</h1>


<div class="container register">
    <div class="row">
        <div class="col-md-12">
            <form method="post">
                <div class="form-group">

                    <input type="hidden" asp-for="Token" class="form-control" />

                </div>
                <button type="submit" class="btn-primary">ConfirmOTP</button>
            </form>

        </div>
    </div>
</div>

@*<script>

        let response = fetch(url);

        fetch(url)
            .then(response => { })
            .catch(error => { });
        async function fetchToken() {
            let response = await fetch('');
        }
    </script>*@